.genre-index {
    width: 100%;
    background-color: #121212;
    // padding-block-start: 44px;
    padding-inline: var(--content-spacing);

    .genre-index-container {
        container-type: inline-size;
        container-name: genreIndex;
    }

    .genre-title-wrapper {
        display: flex; 
        align-items: end;
        min-block-size: 56px;
        margin-bottom: 8px;
        margin-top: 48px;

        h2.genre-title {
            all: unset;
            color: #fff;
            font-family: SpotifyMixUI;
            font-size: var(--encore-text-size-larger);
            // margin-top: auto;
            align-self: end;
            height: fit-content;
            font-weight: 700;
            text-wrap: balance;
        }
    }
}