.home-page {
  position: relative; 
  --carousel-shelf-min-items: 1.5;
  --carousel-shelf-element-width: calc(1955px / 10);
  --shelf-collapsable-min-width: calc(var(--carousel-shelf-element-width) * var(--carousel-shelf-min-items, 1));
  --content-max-width: 1955px;
  --regular-shelf-max-count: 9;

  .home-page-container {
    padding-top: 4px;
    container-name: homepage;
    container-type: inline-size;

    .content-spacing {
      padding-inline: 40px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @container homepage (width < 1024px) {
        gap: 16px;
      }
    }

    @container (width < 1024px) {
      --carousel-shelf-element-width: calc(1955px / 11);

      --regular-shelf-max-count: 11;
      --shelf-gap-vertical: 16px;
    }

    @container (width < 2304px) {
      regular-shelf-max-count: 10;
    }
  }

  .home-filter {
    padding-top: 8px;
    width: 100%;

    .group-filter-btns {
      position: relative;
      display: flex;
      gap: var(--encore-spacing-tighter-2);
      height: 56px;
      padding-inline: 40px;
      
      button.group-filter-btn {
        padding: 0;
        margin: 0;
        margin-block-end: var(--encore-spacing-tighter-2, 8px);
        border: 0;

        background-color: transparent;
        color: inherit;

        font-size: var(--encore-text-size-smaller);
        font-family: SpotifyMixUI;
        user-select: none;

        &.active > span {
          background-color: #ffffff;
          color: #000000;

          &:hover {
            background-color: var(--background-highlight, #f5f5f5)
          }
        }

        &:hover > span {
          background-color: var(--background-tinted-highlight, rgba(0, 0, 0, 0.12));
          transition-duration: var(--shortest-1);
        }

        &:active > span {
          background-color: var(--background-tinted-press, rgba(0, 0, 0, 0.19));
        }

        span {
          display: inline-flex;
          align-items: center;
          min-block-size: 32px;
          padding-block: var(--encore-spacing-tighter-4, 4px);
          padding-inline: var(--encore-spacing-tighter, 12px);

          border-radius: 9999px;
          color: var(--text-base, #000000);
          background-color: var(--background-tinted-base, rgba(0, 0, 0, 0.08));

          transition-property: background-color, color;
          transition-duration: var(--shortest-3);
          transition-timing-function: var(--productive);
        }
      }
    }
  }

  .home-gradient {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 256px;
      z-index: 0;

      background-color: rgb(83, 83, 83);
      background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, var(--background-base) 100%),
        var(--background-noise);

      transition: background 1s ease;
  }

  .home-header-stations {
     container-type: inline-size;
     container-name: headerStations;  
     --item-height: 48px;
     margin-bottom: 16px;

    .header-station-list {
      justify-self: start;
      display: grid;
      grid-template: auto / repeat(auto-fill, minmax(max(var(--min-col-width), 25%), 1fr));
      width: 100%;
      gap: 8px;
      width: 100%;
      container-type: inline-size;
    }

    @container (min-width: 700px) {
      .header-station-list {
        grid-template-columns: repeat(4, minmax(170px, 1fr)); 
      }
    }

    @container (min-width: 1141px) {
      .header-station-list {
        --item-height: 64px;
        gap: 12px;
      }
    }

    @container (min-width: 1220px) {
      .some-class {
        font-size: var(--encore-text-size-base); /* now resolves to 16px */
      }
    }

    @container (min-width: 1599px) {
      .header-station-list {
        --item-height: 80px;
      }
    }
  }

  .playlist-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    min-width: 100%;

    .playlist-header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: end;
      min-block-size: 56px;
      margin-bottom: 8px;
      user-select: none;

      h1 {
        margin: 0;
        z-index: 0;
        align-self: end;
        color: #fff;
        z-index: 0;
        background-color: inherit;

        &.row-title {
          font-family: SpotifyMixUITitle;
          font-size: var(--encore-text-size-larger);
          font-weight: 700;
          color: #fff;
          text-wrap: balance;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      
      span {
        color: var(--text-subdued);
        font-size: var(--encore-text-size-smaller);
        font-weight: 700;
        margin-top: 2px;
        margin-right: 8px;
        z-index: 0;
        background-color: inherit;

        &:hover {
          text-decoration: underline;
          text-decoration-color: #fff; /* Your custom underline color */
        }
      }
    }
    
    .playlist-list {
      margin-inline: -12px;
      // background-color: red !important;
      display: flex;
      flex-wrap: wrap;
      //  display: grid;
    // grid-auto-flow: column;
    // grid-auto-columns: max-content;
      // display: grid;
      // grid-template-columns: repeat(auto-fill, minmax(180px, 180px));
    }
  }

}

@media (max-width: 900px) {
  .home-page {
    .home-header-stations {
      .header-station-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 600px) {
  .home-page {
    .home-header-stations {
      .header-station-list {
        grid-template-columns: 1fr;
      }
    }
  }
}
