.station-index {
  padding: 2rem;
  color: #fff;
  background-color: #121212;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h2 {
      font-size: 2rem;
      font-weight: 600;
    }

    button {
      background-color: #1db954;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 0.5rem 1.2rem;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: lighten(#1db954, 10%);
      }
    }
  }
}
