.app-footer {
    min-height: 72px;
    align-content: center;

    // background-color: $bg_clr1;
    background-color: black;
    // background-color: lightblue;
    
    > section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            margin: 0;
        }
    }

 
}
