.app-footer {
    min-height: 72px;
    justify-content: space-between;
    // background-color: $bg_clr1;
    background-color: black;
    > section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            margin: 0;
        }
    }
}
