.header-search-stations {
  background: #121212;
  color: #fff;
  font-family: SpotifyMixUI;


  .content-spacing {
    max-width: var(--content-max-width);
    padding: 0 var(--content-spacing);
    margin-inline: auto;
    width: 100%;
    position: relative;


  }

  .grid-container {
    --min-column-width: 180px;
    height: 100%;

    display: grid;
    grid-gap: var(--grid-gap);
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-column-width), 1fr));
    
    container-type: inline-size;
    container-name: header-results;
  position: relative;

    .grid-inner {
        --min-column-width: 180px;
        grid-column: 1 / -1;

        margin-top: 24px;
        gap: 32px 12px;
        display: grid;
        grid-auto-rows: min-content;
        grid-template-columns: repeat(auto-fill, minmax(var(--min-column-width), 1fr));

        // > * {
        // }
    }
  }

  
  .title-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    // justify-content: space-between !important;
    min-block-size: 56px;
    margin-bottom: 8px;
    // padding-top: 16px;
    user-select: none;


    h1, h2 {
      margin: 0;
      z-index: 0;
      align-self: end;
      color: #fff;

      &.row-title {
        font-family: SpotifyMixUITitle;
        font-size: var(--encore-text-size-larger);
        font-weight: 700;
        color: #fff;
        text-wrap: balance;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  .top-result {
     grid-column: 1 / 3;

    .artist-preview {
      background: #181818;
      border-radius: 12px;
      padding: 20px;

      min-height: 160px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // min-height: 260px;
      gap: 20px;
      cursor: pointer;
      height: max-content;
      transition: background-color .3s ease;

      &:hover {
        background: #282828;
      }

      .img-container {
        background-color: var(--card-color, #333);
        border-radius: 6px;
        width: 92px;
        padding-bottom: 92px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, .5);
        position: relative;

        img {
          border-radius: 6px;
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }

      .artist-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        
        .artist-title {
          color: #fff;
          font-family: SpotifyMixUITitle;
          font-size: var(--encore-text-size-larger-2);

          text-wrap: balance;
          text-overflow: ellipsis;
          display: inline-block;
          vertical-align: middle;
          overflow: hidden;

          padding-block-end: 4px;
          
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }

        .artist-meta {
          display: inline-flex;
          line-height: normal;
          gap: 4px;
          line-height: 1.429;

          span.prefix {
            display: inline-flex;
            align-items: center;
            gap: 0 4px;
            white-space: nowrap;    
            font-size: var(--encore-text-size-smaller);
            font-family: SpotifyMixUI;
            color: #b3b3b3;
            vertical-align: middle;
            height: 100%;
            
            &::after {
              content: "•";
            }
          }

          .artist-name {
            font-size: var(--encore-text-size-smaller);
            
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .songs-results {
    grid-column: 3 / -1;
    --min-column-width: 180px;

    @container header-results (max-width: 756px) {
      grid-column: 1 / -1;
    }

      .ul-wrapper {
        --min-column-width: 180px;
        display: grid;
        grid-auto-rows: -webkit-min-content;
        grid-auto-rows: min-content;
        grid-template-columns: repeat(auto-fill, minmax(var(--min-column-width), 1fr));
      }

      ul {
        margin: 0;
        grid-column: 1 / -1;
      
        li {
          // grid-column: 1 / -1;
          // min-height: 56px;
          // padding: 0 16px;
          // // display: flex;
          
          display: grid;
          grid-column: 1 / -1;
          min-height: 56px;
          padding: 0 16px;
          align-items: center;
          grid-template-columns: [first] minmax(120px, var(--col0, 4fr)) [last] minmax(120px, var(--col1, 1fr));
          border-radius: 4px;

          &:hover {
            background-color: hsla(0, 0%, 100%, .1);
          }
          // grid-template-rows: min-content;
          // display: flex;

          .main-details {
            // display: flex;
            // flex-direction: column;
            // grid-column: 1 / -1;

            // border: 1px solid transparent;
            // border-radius: 4px;
            // outline: 0;
            // scroll-margin-top: 64px;
            // height: 64px;
      

            .img-container {
              margin-left: -8px;
              margin-inline-end: 12px;
              display: flex;
              position: relative;
              align-items: center;
              justify-content: center;

              img {
                background-color: #282828;
                border-radius: 4px;
                flex-shrink: 0;
                object-fit: cover;
                object-position: center center;
                width: 40px;
                height: 40px;
              }
            }

            .song-details {
              display: flex;
              flex-direction: column;
              padding-inline-end: 8px;
              // background-color: red;

              span {
                // display: block;
                cursor: pointer;
                @include standalone-ellipsis-one-line;
                overflow: hidden;
                text-overflow: ellipsis;
                &.title {
                  font-size: var(--encore-text-size-base);
    //                white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // max-width: 100%; // or something like 250px if needed

                }

                &.artist {
                  color: var(--text-subdued);
                  font-size: var(--encore-text-size-smaller);

                  &:hover {
                    color: #fff;
                  }
                }

                &:hover {
                  text-decoration: underline;
                }
              
              }
            }
          }  

          .song-meta-actions {
            width: 100%;
            grid-column: last;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .duration {
              display: flex;
              font-variant-numeric: tabular-nums;
              width: 5ch;
              justify-content: flex-end;
              font-size: var(--encore-text-size-smaller);
              color: #b3b3b3;
            }
          }

        }
      }      
  }

  .artists-section {
    grid-column: 1 / -1;

    .artists-list {
      display: grid;
      grid-auto-rows: min-content;
      grid-template-columns: repeat(auto-fill, minmax(var(--min-column-width), 1fr));

      overflow: hidden;
      // display: flex;
      // flex-wrap: wrap;
      // grid-template-rows: repeat(1, minmax(0, 1fr));
      // position: relative;

      .artist-card {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: var(--encore-spacing-tighter-2, 8px);
        border-radius: 6px;
        cursor: pointer;
        margin: 0;
        padding: 12px;
        z-index: 0;

        // &::after {
        //   content: '';
        //   opacity: 0;
        //   position: absolute;
        //   inset: 0;
        //   border-radius: inherit;
        //   z-index: -1;

        //   transition-duration: 150ms;
        //   transition-property: background-color, inset, opacity;
        //   transition-timing-function: cubic-bezier(0.3,0,0,1);

        // }

        &:hover {
          &::after {
            opacity: 1;
            background-color: #1f1f1f;
          }
        }

        .img-container {
          pointer-events: none;
          position: relative;

          .image-wrapper {
            position: relative;
            background-color: var(--card-color, #333);
            border-radius: 6px;
            box-shadow: 0 8px 24px rgba(0, 0, 0, .5);
            padding-bottom: 100%;
            position: relative;
            width: 100%;
            border-radius: 50%;

            img {
              position: absolute;
              top: 0;
              left: 0;
              
              display: block;
              height: 100%;
              object-fit: cover;
              width: 100%;
              
              object-position: center center;
              border-radius: 50%;
            }
          }


        }

        .artist-info-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          padding-left: 18px;
          padding-bottom: 18px;

          .artist-title {
            color: #fff;
            text-align: left;
            display: block;

            font-size: var(--encore-text-size-base);
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
              text-decoration: underline;
              text-decoration-thickness: 0.5px;
              text-decoration-color: #fff;
            }
          }

          .artist-meta {
            color: #b3b3b3;
            text-align: left;
            display: block;
            line-height: 1.17;
            font-size: 0.98rem;
            font-weight: 400;
            margin-bottom: 0;
            width: 100%;
            max-width: 160px;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .artist-sub {
          color: #fff;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
  }

}




  //   .first-artist-songs-preview {
  //     background: transparent;
  //     display: flex;
  //     flex-direction: column;

  //     ul {
  //       list-style: none;
  //       padding: 0;
  //       margin: 0;

  //       .song-preview {
  //         display: flex;
  //         align-items: center;
  //         padding: 5px 0 5px 5px;
  //         border-radius: 4px;
  //         cursor: pointer;
  //         transition: background 0.15s;
  //         height: 60px;
  //         min-width: 435px;

  //         &:hover {
  //           background: #232323;
  //         }

  //         .song-dur {
  //           font-size: 14px;
  //           margin-inline-start: auto;
  //           margin-inline-end: 10px;
  //           align-self: center;
  //         }

  //         img {
  //           width: 48px;
  //           height: 48px;
  //           border-radius: 8px;
  //           object-fit: cover;
  //           margin-right: 16px;
  //           box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
  //         }

  //         .song-info {
  //           display: flex;
  //           flex-direction: column;
  //           justify-content: center;
  //           gap: 0;

  //           .song-name {
  //             font-size: 16px;
  //             font-weight: 600;
  //             color: #fff;
  //             margin-bottom: 2px;
  //             line-height: 1.1;
  //             letter-spacing: 0;
  //             white-space: nowrap;
  //             //   overflow: hidden;
  //             text-overflow: ellipsis;
  //             max-width: 180px;
  //             &:hover {
  //               text-decoration: underline;
  //             }
  //           }
  //           .artist-name {
  //             font-size: 14px;
  //             color: #b8b8b8;
  //             font-weight: 400;
  //             line-height: 1.05;
  //             letter-spacing: 0;
  //             white-space: nowrap;
  //             //   overflow: hidden;
  //             text-overflow: ellipsis;
  //             max-width: 180px;

  //             &:hover {
  //               text-decoration: underline;
  //             }
  //           }
  //         }

  //         .song-duration {
  //           margin-left: auto;
  //           font-size: 0.95rem;
  //           color: #b3b3b3;
  //           font-weight: 400;
  //         }
  //       }
  //     }
  //   }
  // }

