/*

QUESTION :

1.

If I want this kind of functionality in many NavLink how can I do it?

  // disable drag 
  -webkit-user-select: none; // Safari 3.1+ 
  -moz-user-select: none; // Firefox 2+ 
  -ms-user-select: none; // IE 10+ 
  user-select: none; // Standard syntax 
  -webkit-user-drag: none;

  I tried with a special class in _Links.scss but it didn't work

  2.
  which way is better to use SVG, mine or Boaz?

  3.
  how much is it important to add all the font-family liberarys ?
    for now we have just the first one - SpotifyMix
    but this is what there is in Spotify:
    
// font-family:
// SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
// CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial,
// "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic"
   
*/

.auth-header {
  display: flex;
  gap: 8px;

  .btn-signup {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    border-radius: 9999px;

    padding: 4px 16px 4px 8px;
    min-height: 32px;
    text-decoration: none;

    font-family: SpotifyMixUI, 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #b3b3b3;
    white-space: nowrap;

    cursor: pointer;
    user-select: none;
    // transition: color 0.15s cubic-bezier(0.3, 0, 0, 1), transform 0.15s cubic-bezier(0.3, 0, 0, 1);

    /* disable drag */
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    -webkit-user-drag: none;

    &:hover {
      color: #ffffff;
      transform: scale(1.04);
      transition-duration: 50ms;
    }

    &:active {
      opacity: 0.7;
      transform: scale(1);
      color: #b3b3b3;
    }
  }
}

.btn-login,
.btn-logout,
.btn-footer-signup {
  all: unset;
  display: inline-block;
  font-family: SpotifyMixUI, 'Helvetica Neue', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;

  /* disable drag */
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  .btn-span {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    color: #000000;

    border-radius: 9999px;
    padding: 8px 32px;
    min-height: 48px;

    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;

    &:hover {
      background-color: #f0f0f0; // var(--background-highlight)
      color: #000000; //var(--text-base)
      // text-decoration: none;
      transform: scale(1.04);
      transition-duration: 150ms;
      transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
    }

    &:active {
      transform: scale(1);
      background-color: #c7c7c7;
    }
  }
}
