.icon-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  z-index: 1;
  cursor: pointer;

  .img-bg {
    border-radius: 4px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    width: 48px;
    height: 48px;

    background: #282828;
    z-index: 1;
  }

  &:has(svg.empty-playlist-icon) {
    border-radius: 4px;
    background: #282828;
  }
  img {
    width: 48px;
    height: 48px;

    border-radius: 4px;
    z-index: 3;
    object-fit: cover;
  }

  svg.empty-playlist-icon {
    height: 24px;
    width: 24px;
    fill: #b3b3b3;
    opacity: 1;
    z-index: 4;
  }

  svg.play-icon {
    fill: #fff;
    position: absolute;
    height: 24px;
    width: 24px;
    transition: color 0.2s ease;
    display: none;
    z-index: 10;
    opacity: 1;
  }
}

/* btns wrapper */

.btn-wrapper {
  background: transparent;
  background: none;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

/* track control icons */
.track-control-play-btn,
.track-control-pause-btn {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  background-color: #fff;
  margin-inline: 16px;
  transition: all 0.1s ease-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.829);

    transform: scale(1.04);
  }

  &:active {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.594);
  }

  &.not-allowed {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

svg.track-control-play-icon,
svg.track-control-pause-icon {
  width: 16px;
  height: 16px;

  transform-origin: center;
}

.track-btn {
  width: 32px;
  height: 32px;

  display: flex;

  &:hover {
    transform: scale(1.04);
    filter: brightness(0) invert(1);
  }

  &:active {
    transform: scale(0.95);
    filter: brightness(0) invert(0.6);
  }

  &.active {
    transform: scale(1.04);
    filter: brightness(0) invert(1);
  }

  &.active-green {
    transform: scale(1.04);

    path {
      fill: #1db954;
    }

    &:hover {
      transform: scale(1.1);
      filter: brightness(1.1);
    }
  }

  &.not-allowed {
    transform: scale(1);
    filter: brightness(0.5);
  }
}

.track-btn.active-green::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);

  width: 4px;
  height: 4px;
  background-color: #1db954;
  border-radius: 50%;
}

svg.track-icon {
  width: 16px;
  height: 16px;

  fill: #b3b3b3;
}

.not-allowed {
  filter: brightness(0.5);
  cursor: not-allowed;
}

.songlist-play-btn,
.songlist-pause-btn {
  width: 48px;
  height: 48px;
  margin-right: var(--content-spacing);

  background-color: #1ed760;
  border-radius: 50%;

  &:hover {
    background-color: #3bdb74;
    transform: scale(1.04);
  }

  &:active {
    transform: scale(1);
    background-color: #1ed760cc;
  }
}

/* songlist icons */
svg.songlist-play-icon,
svg.songlist-pause-icon {
  width: 24px;
  height: 24px;

  transform-origin: center;
}

@container play-btn-size (min-width: 600px) {
  // @media (min-width: 1000px) {
  .songlist-play-btn,
  .songlist-pause-btn {
    width: 56px;
    height: 56px;
  }
}

/* songPreview buttons */
.song-preview-play-btn,
.song-preview-pause-btn {
  width: 24px;
  height: 24px;
  padding: 0;
}

/* songPreview icons */
svg.song-preview-play-icon,
svg.song-preview-pause-icon {
  width: 16px;
  height: 24px;

  fill: #fff;
  transition: opacity 0.2s ease;
}
