.genre-search-result {
    .station-list {
        width: 100%;

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            gap: 24px;
        }
    }
}
