.genre-preview {
  padding: 12px;
  user-select: none;

  .genre-link {
    display: block;
    position: relative;
    width: 100%;

    .genre-box {
      border-radius: 8px;
      height: 100%;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      width: 100%;

      .genre-img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 45%;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        transform: rotate(25deg) translate(18%, -2%);
      }

      .genre-name {
        font-family:SpotifyMixUITitle;
        font-weight: 700;
        font-size: 1.5rem;
        color: white;

        position: absolute;
        padding: 16px 16px 0;
        padding-inline-end: 30%;
        max-width: 100%;
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-wrap: balance;
        hyphens: auto;

        @container genreIndex (max-width: 520px) {
            font-size: var(--encore-text-size-base);
        }
      }
    }
  }
}