.loader-overlay {
  position: fixed;
  width: 100%;
  height: 83.6%;
  background-color: rgba(0, 0, 0, 0.6); // Dark overlay
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

//   pointer-events: all;
}

.loader-gif {
  position: absolute;
  width: 100px;
  height: 100px;

  transform: translate(-200px,-50px);
}
