.loader-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); // Dark overlay
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

//   pointer-events: all;
}

.loader-gif {
  width: 100px;
  height: 100px;
}
