// .lyrics-panel {
//     position: absolute;
//     inset: 0;
//     background: rgba(0, 0, 0, 0.9);
//     color: #fff;
//     z-index: 999;
//     display: flex;
//     flex-direction: column;
//     padding: 2rem;
//     overflow-y: auto;

//     header {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;

//         .close-btn {
//             background: none;
//             border: none;
//             color: #fff;
//             font-size: 1.5rem;
//             cursor: pointer;
//             opacity: 0.8;
//             transition: opacity 0.2s;

//             &:hover {
//                 opacity: 1;
//             }
//         }

//         h2 {
//             margin: 0;
//             font-size: 1.8rem;
//         }
//     }

//     .lyrics-content {
//         margin-top: 2rem;
//         flex: 1;
//         overflow-y: auto;

//         pre {
//             white-space: pre-wrap;
//             line-height: 1.5;
//             font-size: 1.4rem;
//             font-weight: 500;
//         }
//     }
// }

.main-content {
    position: relative;

    .lyrics-panel {
        position: absolute;
        inset: 0;
        // margin: auto;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 100%;

        background-color: #121212; // Spotify's base fallback
        font-family: SpotifyMixUITitle;
        color: #b3b3b3; // Spotify's base fallback        
        z-index: 30;

        transition: background-color 0.4s ease, color 0.4s ease;

        overflow-y: auto;
          scrollbar-gutter: stable overlay;
        // min-height: 100%;
        // width: 100%;
        &:hover {
            overflow-y: auto;
          scrollbar-gutter: stable overlay;

        }

        &::-webkit-scrollbar {
             width: 12px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: hsla(0, 0%, 100%, 0.3);
            border-radius: 0;
            transition: background-color 0.2s ease;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: hsla(0, 0%, 100%, 0.5);
        }
        &::-webkit-scrollbar-thumb:active {
            background-color: hsla(0, 0%, 100%, 0.7);
        }

        .lyrics-content {
            margin: auto;
            align-self: center;
            width: 87.2%;
            // overflow-y: auto;
            // background-color: transparent;
            // color: white;

            // line-height: 1.4;
            // background-color: transparent;
            // color: white;
            // border-radius: 16px;
        
            pre {
                // Spacing
                font-family: SpotifyMixUITitle;
                margin: 0;
                margin-block-start: 45px;
                line-height: normal;
                // Typography
                font-family: inherit;
                font-size: 3rem;
                // font-weight: 700;
                // letter-spacing: -0.8px;
                white-space: pre-wrap;
                text-wrap: balance;
                // line-height: 2;
            }
        }
    }

    .lyrics-panel.message-mode .lyrics-content pre {
        font-family: 'sm-regular';
        font-size: 4.5rem;
        margin-block-start: 0;
        text-align: center;
        line-height: normal;
    }

}