.media-player-container {
  // *** action button ***

  .track-action {
    img {
      // filter: grayscale(1);
      filter: brightness(0) invert(0.7);
    }

    &:hover {
      img {
        // transform: scale(1.04);
        filter: brightness(0) invert(1);
      }
    }

    &:active {
      img {
        transform: scale(0.95);
        filter: brightness(0) invert(0.6);
      }
    }

    &.active {
      img {
        transform: scale(1.04);
        filter: brightness(0) invert(1);
      }
    }


    &.not-allowed {
      cursor: not-allowed;

      img {
      transform: scale(1);
      filter: brightness(0) invert(0.3);
      }
    }

  }
  
}

