aside.sidebar {
    background-color: #121212;
    min-width: 299px;
    max-width: 420px;
    flex: 1 1 299px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-family: SpotifyMixUI, 'Helvetica Neue', helvetica, arial, sans-serif;

    .sidebar-header {
        font-weight: 700;
        color: #FFFFFF;
        -webkit-font-smoothing: antialiased;
        user-select: none;
        padding: 12px 16px 8px;

        h1 {
            font-size: 16px;
            margin: 0;
            margin-left: 8px;

        }

        .create-btn {
            background-color: #2A2A2A;
            border: none;
            // color: #B3B3B3;
            font-family: SpotifyMixUI, 'Helvetica Neue', helvetica, arial, sans-serif;
            padding: 8px 16px;
            border-radius: 9999px;
            background-color: #1F1F1F;
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            line-height: normal;
            transition: background-color .2s ease-out;

            &:hover {
                fill: #fff;
                background-color: #2a2a2a;
    
                svg {
                    fill: #fff;
                }
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 14px;
                height: 14px;
            }

            .label {
                font-size: 14px;
                font-family: SpotifyMixUI, 'Helvetica Neue', helvetica, arial, sans-serif;
                color: #fff;
                font-weight: 700;
            }

            svg {
                width: 16px;
                height: 16px;
                fill: currentColor;
                transition: background-color .2s ease-out;
                fill: #b3b3b3;

                &:hover {
                    color: #fff;
                }
            }
        }


        .header-actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
        
    .library-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-inline: 8px;
    }
}

.sidebar-view-filter {
    display: flex;
    gap: 8px;
    margin: 8px 16px;

    .chip {
        font-family: SpotifyMixUI,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif);
        background-color: #232323;
        color: #fff;
        border: none;
        border-radius: 9999px;
        cursor: pointer;
            // padding: 4px 12px;
            padding: 0;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            // all: unset;
            padding: 4px 12px;
            height: auto;
            height: 32px;
                    font-size: 14px;
        line-height: 1;


        }
        &.selected {
            background-color: #ffffff1a; 
        }
    }
}
