.station-songlist {
  .open-find-more-btn {
    background: none;
    border: none;
    color: #fff;
    display: block;
    margin: 32px 16px 0 0;
    margin-left: auto;
    padding: 0;
    font-family: SpotifyMixUI;
    font-size: var(--encore-text-size-smaller);
    font-weight: 700;
    
    [dir="ltr"] & {
        margin-left: auto;
    }
  }
}

.song-search-section {
  .song-search-header {
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
    margin-top: 24px;

    .song-search-header-inner {
      display: inline-block;

      h4 {
        font-family: SpotifyMixUITitle;
        font-size: var(--encore-text-size-larger);
        margin-bottom: 16px;
        text-wrap: balance;
      }

      form {
        position: relative;

        svg {
          color: hsla(0, 0%, 100%, .7);
          position: absolute;
          margin: 0;
          top: 50%;   
          transform: translateY(-50%); 

          &.search-icon {
            left: 10px;
          }

          &.clear-icon {
            opacity: 1;
            right: 10px;
          }
        }

        input[type='search'] {
          background-color: hsla(0, 0%, 100%, .1);
          border: 0;
          margin: 0;
          outline: 0;
          border-radius: 4px;
          color: hsla(0, 0%, 100%, .7);
          height: 40px;
          opacity: 1;
          padding: 8px 32px;
          text-overflow: ellipsis;
          transition-duration: .3s;
          transition-property: opacity width;
          transition-timing-function: cubic-bezier(.3,0,.4,1);
          width: 100%;
          font-size: var(--encore-text-size-smaller);
          font-family: SpotifyMixUI;

          &::-webkit-search-cancel-button {
            display: none;
          }

          &::placeholder {
            color: #b3b3b3;
            opacity: 1;
          }
        }
      }
    }

    .close-find-more-btn {
      background: none;
      border: none;
      font-weight: 400;
      margin-right: 8px;
      padding: 0;
      cursor: pointer;
      transition: color 0.15s;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: end;
      color: #b3b3b3;
      transition: transform 0.3s;
      transform: rotate(0deg);

      svg {
        transition: transform 0.3s;
        transform: rotate(0deg);
      }

      svg:hover {
        transform: rotate(360deg);
      }
    }
  }
}




