.home-page .station-preview-container {
  --carousel-shelf-element-width: calc(1955px / 10);
  width: var(--carousel-shelf-element-width);

  @container homepage (width < 1024px) {
    --carousel-shelf-element-width: calc(1955px / 11);
  }
}

.station-preview {
  border-radius: var(--encore-corner-radius-larger);
  padding: 12px;
  color: #fff;
  font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
    sans-serif;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-block-size: 48px;
  user-select: none;
  text-wrap: pretty;
  // height:230px ;
  position: relative;

  transition-duration: 150ms;
  transition-property: background-color, inset;
  transition-timing-function: cubic-bezier(0.3,0,0,1);

  &:hover {
    background-color: #1f1f1f;

    .btn-container {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &:active {
    background-color: #000;
  }

  .img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--encore-corner-radius-larger);
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .5);
    background-color: var(--card-color, #333);

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
      display: block;
    }
  }

  .btn-container {
    position: absolute;
    opacity: 0;
    z-index: 2;

    --play-btn-size: 48px;
    right: 8px;
    bottom: 8px;
    border-radius: 500px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
    
    transition: all .2s ease-out;
    transform: translateY(8px);

      &.playing {
        opacity: 1;
        transform: translateY(0);
      }

      button {
        background-color: #1ed760;
        border-radius: 50%;
        border: none;
        padding :0;
        @include flex;
        height: var(--play-btn-size);
        width: var(--play-btn-size);

        transition-property: background-color, transform;
        transition-duration: var(--shortest-3);
        transition-timing-function: var(--productive);

        &:hover {
          transform: scale(1.04);
          background-color: var(--background-highlight);
        }

        &:active {
          scale: 1;
          background-color: var(--background-press);
        }
      }
  }

  .info-container {
    display: flex;
    column-gap: 12px !important;
  }

  .info {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    .station-name {
      font-size: var(--encore-text-size-smaller);
      font-family: SpotifyMixUI;
      color:var(--text-subdued);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      vertical-align: baseline;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 0;
    }

    .station-artist {
      font-size: 14px;
      color: #b3b3b3;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
