

@font-face {
    font-family: 'SM-Black';
    src: url(../../fonts/spotify-mix/SpotifyMix-Black.ttf);
}
@font-face {
    font-family: 'SM-BlackItalic';
    src: url(../../fonts/spotify-mix/SpotifyMix-BlackItalic.ttf);
}
@font-face {
    font-family: 'SM-Bold';
    src: url(../../fonts/spotify-mix/SpotifyMix-Bold.ttf);
}
@font-face {
    font-family: 'SM-BoldItalic';
    src: url(../../fonts/spotify-mix/SpotifyMix-BoldItalic.ttf);
}
@font-face {
    font-family: 'SM-Extrabold';
    src: url(../../fonts/spotify-mix/SpotifyMix-Extrabold.ttf);
}
@font-face {
    font-family: 'SM-ExtraboldItalic';
    src: url(../../fonts/spotify-mix/SpotifyMix-ExtraboldItalic.ttf);
}
@font-face {
    font-family: 'SM-Light';
    src: url(../../fonts/spotify-mix/SpotifyMix-Light.ttf);
}
@font-face {
    font-family: 'SM-LightItalic';
    src: url(../../fonts/spotify-mix/SpotifyMix-LightItalic.ttf);
}
@font-face {
    font-family: 'SM-Medium';
    src: url(../../fonts/spotify-mix/SpotifyMix-Medium.ttf);
}
@font-face {
    font-family: 'SM-MediumItalic';
    src: url(../../fonts/spotify-mix/SpotifyMix-MediumItalic.ttf);
}
@font-face {
    font-family: 'SM-Regular';
    src: url(../../fonts/spotify-mix/SpotifyMix-Regular.ttf);
}
@font-face {
    font-family: 'SM-RegularItalic';
    src: url(../../fonts/spotify-mix/SpotifyMix-RegularItalic.ttf);
}
@font-face {
    font-family: 'SM-Thin';
    src: url(../../fonts/spotify-mix/SpotifyMix-Thin.ttf);
}
@font-face {
    font-family: 'SM-ThinItalic';
    src: url(../../fonts/spotify-mix/SpotifyMix-ThinItalic.ttf);
}
@font-face {
    font-family: 'SM-Ultra';
    src: url(../../fonts/spotify-mix/SpotifyMix-Ultra.ttf);
}
@font-face {
    font-family: 'SM-UltraItalic';
    src: url(../../fonts/spotify-mix/SpotifyMix-UltraItalic.ttf);
}


