// SpotifyMixUI - **** Shortcuts ****
@font-face {
  font-family: 'sm-regular';
  font-weight: 400;
  // font-display: swap;
  src: url('../fonts/SpotifyMixUI/SpotifyMixUI-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'sm-bold';
  font-weight: 700;
  // font-display: swap;
  src: url('../fonts/SpotifyMixUI/SpotifyMixUI-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'sm-title';
  font-weight: 100 1000;
  font-stretch: 50% 150%;
  // font-display: swap;
  src: url('../fonts/SpotifyMixUI/SpotifyMixUITitleVariable.woff2') format('woff2')
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SpotifyMixUI - Original implementation
@font-face {
  font-family: 'SpotifyMixUI';
  font-weight: 400;
  // font-display: swap;
  src: url('../fonts/SpotifyMixUI/SpotifyMixUI-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SpotifyMixUI';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/SpotifyMixUI/SpotifyMixUI-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SpotifyMixUI';
  font-weight: 700;
  // font-display: swap;
  src: url('../fonts/SpotifyMixUI/SpotifyMixUI-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'SpotifyMixUITitle';
  font-weight: 700;
  // font-display: swap;
  src: url('../fonts/SpotifyMixUI/SpotifyMixUITitleVariable.woff2') format('woff2'),
       url('../fonts/SpotifyMixUI/SpotifyMixUITitle-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'SpotifyMixUITitle';
  font-weight: 800;
  // font-display: swap;
  src: url('../fonts/SpotifyMixUI/SpotifyMixUITitleVariable.woff2') format('woff2'),
       url('../fonts/SpotifyMixUI/SpotifyMixUITitle-Extrabold.woff2') format('woff2');
}

@font-face {
  font-family: 'SpotifyMixUITitleVariable';
  font-weight: 100 1000;
  font-stretch: 50% 150%;
  // font-display: swap;
  src: url('../fonts/SpotifyMixUI/SpotifyMixUITitleVariable.woff2') format('woff2');
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CircularSp
@font-face {
  font-family: csp-black;
  src: url('@/assets/fonts/CircularSp/CircularSp-Hebr-Black.woff2') format('woff2');
}

@font-face {
  font-family: csp-bold;
  src: url('@/assets/fonts/CircularSp/CircularSp-Hebr-Bold.woff2') format('woff2');
}

@font-face {
  font-family: csp-book;
  src: url('@/assets/fonts/CircularSp/CircularSp-Hebr-Book.woff2') format('woff2');
}
