// Colors
$clr1: #ce2e6c;
// $clr2: #4f3a65;
$clr2: #b3b3b3;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #B3B3B3; // for txt color

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// BackGroundColor
$bg_clr1: #000000;
$bg_clr2: #121212;
$bg_clr3: #1f1f1f;