.media-player-container {
  justify-content: space-between;

  // add like btn
  img {
    width: 16px;
  }

  .track-controls-container {
    max-width: 722px;
    flex: 1;

    .track-actions {
      display: flex;
      justify-content: center;

      height: 32px;
      margin-bottom: 8px;

      button.track-action.play {
        padding: 0;
        margin-inline: 16px;
        scale: 1;
      }
      button.track-action.pause {
        margin-inline: 16px;
      }

      button.track-action:not(.play) {
        padding-block: 0;
        padding-inline: 8px;
      }

      .track-action.shuffle {
        margin-right: 8px;
      }

      .track-action.repeat {
        margin-left: 8px;
      }
    }
  }

  
  /* TrackSeek */

  // .track-seek {
  //   // min-height: 17px;
  //   height: 100%;
  //   align-items: center;
  //   color: var(--text-subdued);

  //   input.track-bar {
  //     margin-block: 0;
  //     margin-inline: 8px;
  //     height: 4px;
  //   }
  // }

  //   .gray-icon {
  //     width: 24px;
  //     height: 24px;
  //     background-color: #b3b3b3;
  //     -webkit-mask: url('../../icons/media-player/next_song.svg') no-repeat center;
  //     mask: url('../../icons/media-player/next_song.svg') no-repeat center;
  //     -webkit-mask-size: contain;
  //     mask-size: contain;
  //   }



  .mute-btn {
  }

  .react-youtube {
    display: none;
  }

  .other-options {
    min-width: 230px;
    // flex: 1;
    justify-content: right;
  }
}
