.track-info {
  gap: 1rem;
  // padding: 0 0.875rem 0 0.5rem;
  flex: 1;

  min-width: 230px;
  margin-left: 8px;

  // padding-inline-start: 8px;

  .song-thumbnail {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 4px;
    // margin-left: 8px;

    // padding-inline-start: 8px;
  }

  .song-details {
    display: flex;
    flex-direction: column;
    max-width: 19.6vw;
    white-space: nowrap;
    overflow: hidden;

    a {
      color: white;
    }

    .song-title {
      font-family: SpotifyMixUI;
      font-size: var(--encore-text-size-smaller);
      margin: 0;
      color: var(--text-base);
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .song-artist {
      font-family: SpotifyMixUI;
      font-size: var(--encore-text-size-smaller-2);
      color: var(--text-subdued);
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0;
    }
  }


}
