.media-player-container {
  justify-content: space-between;

  img {
    width: 16px;
  }

  button {
    width: 32px;
    height: 32px;

    background: none;
    border: none;
    cursor: pointer;
  }

  .track-controls-container {
    .track-actions {
      min-width: 430px;
      height: 32px;

      justify-self: center;
      text-align: center;
    }
  }

  .track-seek {
    align-items: center;
    color: #b3b3b3;
  }


  //   .gray-icon {
  //     width: 24px;
  //     height: 24px;
  //     background-color: #b3b3b3;
  //     -webkit-mask: url('../../icons/media-player/next_song.svg') no-repeat center;
  //     mask: url('../../icons/media-player/next_song.svg') no-repeat center;
  //     -webkit-mask-size: contain;
  //     mask-size: contain;
  //   }

  .track-time {
    font-size: 12px;
    margin-inline: 3px;
  }

  .mute-btn {
  }

  .react-youtube {
    display: none;
  }
}
